@import 'colors';

#title {
    background-color: $main;
    border: 1px solid black;
    color: yellow;
    padding: 5px;
}

#randomRange {
    background-color: $secondary;
    border: 1px solid blue;
    color: white;
    padding: 5px;
}

#dump {
    display: block;
    height: 3000px;
    width: 300px;
    border: 1px solid black;
}
li {
    // border: 4px solid black;
    background-color: violet;
    color: black;
}
.chart {
    color: violet;
}