@import "~bootstrap/scss/bootstrap.scss";
@import 'colors';

#title {
    background-color: $main;
    border: 1px solid black;
    color: yellow;
    padding: 5px;
}
.card {
    color: darkgrey;
    border: 2px solid orange;
    background-color: #C0C0C0FF
}
.card-title {
    color: black;
}




#randomRange {
    background-color: $secondary;
    border: 1px solid blue;
    color: white;
    padding: 5px;
}

ul {
    list-style-type: none;
}
li {
    // border: 4px solid black;
    background-color: violet;
    padding: 3px 3px;
    margin-bottom: 3px;
    color: black;

}
.chart {
    color: violet;
    font-size: 2em;
}
.title-container {
    border: 1px solid violet;
}